.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
build/
dist/
excalidraw.log
.coverage
docs/superpowers/
output_data/
.superpowers/
ble_test_tool.py
# recorded sessions: <participant>_<YYYYMMDD>_<HHMMSS>
*_20[0-9][0-9][0-1][0-9][0-3][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]/
